.content-wrapper {
    padding: 0 10px;
}
.manage-block {
    padding: 10px;
}
form.delete, .delete-form {
    display: inline-block;
}
form.delete button {
    border: none;
    background-color: transparent;
}
.delete-btn {
    border: none;
    background-color: transparent;
}
form.delete button .fa {
    color: red;
}
.img-container {
    width: 100px;
}
.img-container img {
    display: block;
    width: 100%;
    height: auto;
}