{% extends 'base.twig' %}

{% block content %}
    <h1>Спасибо за регистрацию</h1>
    <p>Подтвердите электронный почтовый адрес,
        перейдя по ссылке в письме, которое вы получили от нас.</p>
{% endblock %}
