<header class="top-header-wrapper">
    <div class="nav-wrapper">
        <nav class="navigation-container">
            <ul class="menu-items">
                <li class="menu-item"><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
    <div class="profile-wrapper">
    <ul class="profile-links">
        <li class="profile-link"><a href="/login">SignIn</a></li>
        <li class="profile-link"><a href="/registration">SignUp</a></li>
        <li class="profile-link"><a href="/profile">Profile</a></li>
    </ul>
    </div>
</header>
