{% extends 'base.twig' %}

{% block content %}

    <form action="/signin" method="post">
        <input type="email" name="email" />
        <input type="password" name="password" />
        <input type="submit" value="Login" />
    </form>

{% endblock %}
