@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    font-size: 16px;
    background: #eee;
    height: 100%;
    color: #444;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

.top-header-wrapper {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}
.navigation-container ul {
    display: flex;
    justify-content: space-around;
}
.navigation-container li a {
    color: #fff;
    text-decoration: none;
}
.profile-wrapper {
    flex-basis: 20%;
}
.profile-links {
    display: flex;
    justify-content: space-around;
    flex-basis: 70%;
}
.profile-links li a {
    color: #fff;
    text-decoration: none;
}
.main-container {
    background-color: #ffffff;
    max-width: 86%;
    margin: 36px auto;
    padding: 26px;
}

/* Auth */
.form-auth-wrapper input {
    height: 32px;
    outline: none;
    border: 1px solid #ccc;
}
.form-auth-wrapper input[type=email],
.form-auth-wrapper input[type=password] {
    width: 320px;
    margin: 6px 0;
}
.form-auth-wrapper input[type=submit] {
    width: 89px;
}
.form-auth-wrapper label {
    display: flex;
    align-items: center;
}
#auth-remember {
    margin-right: 15px;
}
